.IconEdit {
  width: 25px;
  height: 25px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
  -webkit-box-shadow: -1px 10px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 15px -3px rgba(0, 0, 0, 0.75);
}

.IconEdit:hover {
  color: #10c800;
  transform: scale(1.2);
}

.IconNewProfile {
  width: 100px;
  height: 70px;
  color: #fff;
  transition: all 0.4s;
  justify-content: center;
  cursor: pointer;
  margin-left: 2rem;
}

.IconNewProfile:hover {
  color: #10c800;
  transform: scale(1.2);
}

.link {
  cursor: context-menu;
}