
  form label.Label {
    text-align: center;
    font-size: 25px;
  }
  
  form input.Input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: #3a3a3a9b;
    color: aliceblue;
    transition: all 0.6s;
  }
  
  form input.Input:focus {
    border: 0.7px solid;
    border-color: #0176018d;
    background-color: #01350149;
  }
  
  form input.Input::placeholder {
    color: rgb(128, 128, 128);
  }
  
  