.IconEdit {
  font-size: 2rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}

.IconEdit:hover {
  color: #10c800;
  transform: scale(1.03);
}

.IconNewProfile {
  width: 80px;
  height: 65px;
  color: #fff;
  transition: all 0.4s;
  justify-content: center;
  cursor: pointer;
  margin-left: 2rem;
}

.IconNewProfile:hover {
  color: #10c800;
  transform: scale(1.03);
}

.link {
  cursor: context-menu;
}
