.CadUser-container { 
    width: 100%;
    background: url(/src/assets/images/MainBackground2.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-blend-mode: darken;
  }